!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %div{class: "wrapper"}
      %div{class: "sidebar"}
        %div{class: "header"}
          %h3{class: "header_name"} Masa
          %header{class: "header__lists"}
            %li{class: "list"}
              %a{ href: "https://thawing-stream-63240.herokuapp.com/groups/new" }
                %i{class: "fa fa-pencil-square-o icon"}
            %li{class: "list"}
              %a{ href: "https://thawing-stream-63240.herokuapp.com/users/12912/edit" }
                %i{class: "fa fa-cog icon"}
        %div{class: "groups"}
          %div{class: "group"}
            %div{class: "group__name"} Memo
            %div{class: "group__message"} Hey !!
          %div{class: "group"}
            %div{class: "group__name"} To do
            %div{class: "group__message"} hello
      %div{class: "chat"}
        %div{class: "header"}
          %div{class: "left-header"}
            %div{class: "left-header__title"} To do
            %ul{class: "left-header__members"}
              Member：
              %li{class: "member"}  Masa
          %div{class: "right-header"}
            %a{ href: "https://thawing-stream-63240.herokuapp.com/groups/30232/edit", class: "right-header__button" } Edit
        %div{class: "messages"}
          %div{class: "message"}
            %div{class: "upper-message"}
              %div{class: "upper-message__user-name"} Masa
              %div{class: "upper-message__date"} 2019/01/20 08:44
            %div{class: "lower-message"}
              %div{class: "lower-message__content"} hello
        %div{class: "form"}
          %form{class: "js-form"}
            %input{class: "form__message", placeholder: "type a message"}
            %div{class: "form__mask"}
              %label{class: "form__mask__image"}
                %i{class: "fa fa-picture-o icon"}
            %input{class: "form__submit", value: "Send", type: "submit"}
